<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="colmd-3">
      <h2 class="heading">メッセージフォーム</h2>
      <%= render 'messages/form', message: @message %>
    </div>

    <div class="col-md-8">
      <h2 class="heading">メッセージ一覧</h2>
      <% employee = Employee.find_by(id: @message.receive_employee_id) %>
      <% @messages.each do |message| %>
        <div>
          <div class="media-body">
            <div>
            <%= link_to message.employee.name, employee_path(message.employee) %> <span class="text-muted">posted at <%= message.created_at %></span>
            </div>
            <div>
              <%= message.content %><br>
              <% if current_employee == message.employee %>
                <%= link_to "削除", employee_message_path(current_employee, message), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "ホームへ戻る", employee_path(current_employee) %>