<%= render 'layouts/header' %>

<div class='container'>
  <div class='row'>
    <div class='col'>
      <h2>案件新規登録</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col '>
      <%= form_with model:@item, url: items_path, local:true do |f| %>
        <label class="font-weight-bold"><%= f.label :title, "施設名" %></label><br>
        <%= f.select :facility_id, @facilities_hash, include_blank: "-----" %><br>
        <label class="font-weight-bold"><%= f.label :title, "案件名" %></label><br>
        <%= f.text_field :title %><br>
        <label class="font-weight-bold"><%= f.label :genre, "案件ジャンル" %></label><br>
          <%= f.radio_button :genre, :"新規", {:checked => true} %>
	        <%= f.label :genre, "新規", {value: :true, style: "display: inline-block;"} %>
	        <%= f.radio_button :genre, :"既存" %>
	        <%= f.label :genre, "既存", {value: :false, style: "display: inline-block;"} %><br>
        <label class="font-weight-bold"><%= f.label :status, "案件ステータス" %></label><br>
        <%= f.select :status, Item.statuses.keys, include_blank: "-----" %><br>
        <label class="font-weight-bold"><%= f.label :content, "案件内容" %></label><br>
        <%= f.text_area :content %>
        <%= f.submit "作成完了" %>
      <% end %>
    </div>
  </div>
</div>