<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>案件情報</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th>案件名</th>
          <th><%= @item.title %></th>
        </tr>
        <tr>
          <th>担当者</th>
          <th><%= @item.employee.name %></th>
        </tr>
        <tr>
          <th>施設名</th>
          <th><%= @item.facility.name %></th>
        </tr>
        <tr>
          <th>案件ジャンル</th>
          <th><%= @item.genre %></th>
        </tr>
        <tr>
          <th>案件ステータス</th>
          <th><%= @item.status %></th>
        </tr>
        <tr>
          <th>案件内容</th>
          <th><%= @item.content %></th>
        </tr>
        <tr>
          <th>作成日</th>
          <th><%= @item.created_at.to_s(:datetime_jp) %></th>
        </tr>
      </table>
      <% if @item.employee_id == current_employee.id %>
        <%= link_to edit_item_path(@item) do %>
          <button class="btn btn-primary">編集する</button>
        <% end %>
        <%= link_to item_path(@item), method: :delete do %>
          <button type="button" class="btn btn-danger">削除する</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="comments">
        <h4>コメント</h4>
        <% @item.item_comments.each do |item_comment| %>
          <%= item_comment.employee.name %>
          <%= item_comment.created_at.to_s(:datetime_jp) %><%= item_comment.comment %>
          <% if item_comment.employee == current_employee %>
            <%= link_to "削除", item_item_comment_path(@item, item_comment), method: :delete %>
          <% end %>
        <% end %>
        </div>
        <div class="new-comment">
        <%= form_with(model:[@item, @item_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>