<table class='table table-bordered table-striped table-hover'>
  <thead>
    <tr>
      <!--管理者権限の時のみ担当者を表示-->
      <% if current_employee.admin == true %>
        <th>担当者</th>
      <% end %>
      <th>案件名</th>
      <th>施設名</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <!--管理者権限の時のみ担当者を表示-->
        <% if current_employee.admin == true %>
          <td><%= item.employee.name %></td>
        <% end %>
        <td>
          <%= link_to item.title, item_path(item), class: 'text-white' %>
        </td>
        <td><%= item.facility.name %></td>
        <td><%= item.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'もっと見る', items_path, class: 'text-white' %>