<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>社員アカウント一覧</h2>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">社員名</th>
              <th scope="col">メールアドレス</th>
              <th scope="col">ステータス</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <% @employees.each do |employee| %>
          <tbody>
            <tr>
              <td scope="row"><%= employee.id %></td>
              <td scope="row"><%= employee.name %></td>
              <td scope="row"><%= employee.email %></td>
              <td scope="row"><%= employee.is_deleted %></td>
              <td scope="row">
                <%= link_to edit_employee_path(employee.id)  do %>
                  編集する
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>