<%= render 'layouts/header' %>


<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="heading">社員アカウント一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= search_form_for(@q, url:employees_path) do |f| %>
        <%= f.label :id %>
        <%= f.text_field :id_eq %>
        <%= f.label :名前 %>
        <%= f.text_field :name_start %>
        <%= f.label :メールアドレス %>
        <%= f.text_field :email_start %>
        <%= f.submit %>
      <% end %>
    </div>
    <!-- 新規作成を右端に寄せるために記述-->
    <div class="col-md-10 offset-md-10">
      <!--管理者権限がある場合のみアカウント作成が可能にする-->
      <% if current_employee.admin == true %>
        <label class="font-weight-bold">
          <%= link_to new_employee_path do %>
            新規アカウント作成
          <% end %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">社員名</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">ステータス</th>
            <th scope="col"></th>
            <% if employee_signed_in? && current_employee.admin == true %>
            <th scope="col"></th>
              <% end %>
          </tr>
        </thead>
        <% @employees_all.each do |employee| %>
        <tbody>
          <tr>
            <td scope="row"><%= employee.id %></td>
            <td scope="row"><%= employee.name %></td>
            <td scope="row"><%= employee.email %></td>
            <td scope="row"><%= employee.is_deleted %></td>
            <td scope="row">
              <%= link_to employee_messages_path(employee) do %>
                メッセージ
              <% end %>
            </td>
            <% if employee_signed_in? && current_employee.admin == true %>
              <td scope="row">
                <%= link_to edit_employee_path(employee.id) do %>
                  編集する
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>