<div class="ccontainer-fluid px-5">
  <div class="row">
    <div class="col">
      <h2 class="mt-3">社員アカウント一覧</h2>
      <h2 class="mt-5 mb-4">社員アカウント一覧</h2>
      <!--アカウント検索機能のフォーム-->
      <div class="search">
        <%= search_form_for @q, url: search_employees_path do |f| %>
          <%= f.label :name_cont, 'ユーザー名' %>
          <%= f.search_field :name_cont %>
          <%= f.submit '検索' %>
        <% end %>
      </div>
      <table class="table table-bordered table-striped mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">社員名</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">ステータス</th>
            <th scope="col"></th>
            <% if employee_signed_in? && current_employee.admin == true %>
            <th scope="col"></th>
              <% end %>
          </tr>
        </thead>
        <% @employees.each do |employee| %>
        <tbody>
          <tr>
            <td scope="row"><%= employee.id %></td>
            <td scope="row"><%= employee.name %></td>
            <td scope="row"><%= employee.email %></td>
            <td scope="row"><%= employee.is_deleted %></td>
            <td scope="row">
              <%= link_to employee_messages_path(employee) do %>
                メッセージ
              <% end %>
            </td>
            <% if employee_signed_in? && current_employee.admin == true %>
              <td scope="row">
                <%= link_to edit_employee_path(employee.id) do %>
                  編集する
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>