<div class='container'>
  <div class='row'>
    <div class='col'>
      <h2>新規社員登録</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col '>
      <%= form_with model:@employee, url: employees_path, method: :post, local: true do |f| %>
        <label class="font-weight-bold"><%= f.label :name, "社員名" %></label><br>
        <%= f.text_field :name %><br>
        <label class="font-weight-bold"><%= f.label :email, "メールアドレス" %></label><br>
        <%= f.text_field :email %><br>
        <label class="font-weight-bold"><%= f.label :password, "パスワード" %></label><br>
        <%= f.text_field :password %><br>
        <%= f.submit "編集完了" %>
      <% end %>
    </div>
  </div>
</div>