<%= render 'layouts/header' %>

<div class='container'>
  <div class='row'>
    <div class='col'>
      <div class='title'>
        <h2>施設情報</h2>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <table>
        <tr>
          <th>施設名</th>
          <th><%= @facility.name %></th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th><%= @facility.postal_code %></th>
        </tr>
        <tr>
          <th>施設住所</th>
          <th><%= @facility.address %></th>
        </tr>
        <tr>
          <th>施設ジャンル</th>
          <th><%= I18n.t("enums.facility.genre.#{@facility.genre}") %></th>
        </tr>
        <tr>
          <th>施設責任者</th>
          <th><%= @facility.responsible_person %></th>
        </tr>
      </table>
    </div>
    <div class='col'>
      <table>
        <tr>
          <th>営業担当者</th>
          <th><%= @facility.employee.name %></th>
        </tr>
        <tr>
          <th>案件名</th>
          <th></th>
        </tr>
        <tr>
          <th>案件内容</th>
          <th></th>
        </tr>
      </table>
      <% if @employee_id = current_employee.id %>
        <div class="btn btn-primary">
          <%= link_to edit_facility_path(@facility.id) do %>
            編集する
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>