<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to new_dairy_report_path do %>
        <p>新規作成</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>業務報告一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>作成日</th>
            <th>報告者</th>
            <th>施設名</th>
          </tr>
        </thead>
        <% @daily_reports.each do |daily_report| %>
        <tbody>
          <tr>
            <td><%= daily_report.created_at %></td>
            <td><%= daily_report.employee.name %></td>
            <td><%= daily_report.facility.name %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>