<header class>
  <div class="container-fluid bg-info">
    <div class="row">
        <div class="col px-0">
          <%= image_tag "Logo_bussines_daily_support.jpg", width: "120px" %>
        </div>
        <div class="col px-0">
          <ul class="navbar navbar-expand-lg  navbar-dark">
          <% if employee_signed_in? %>
            <li class="list"><%= link_to '社員一覧', employees_path, class: "btn btn-light text-warning mr-1 border border-dark" %></li>
            <li class="list"><%= link_to '施設一覧', facilities_path, class: "btn btn-light text-warning mr-1 border border-dark" %></li>
            <li class="list"><%#= link_to 'メッセージ', admins_orders_path, class: "btn btn-light text-warning mr-1 border border-dark" %></li>
            <li class="list"><%= link_to '案件一覧', items_path, class: "btn btn-light text-warning mr-1 border border-dark" %></li>
            <li class="list"><%= link_to '業務報告', dairy_reports_path, class: "btn btn-light text-warning mr-1 border border-dark" %></li>
            <li class="list"><%= link_to 'ログアウト', destroy_employee_session_path, method: :delete, class: "btn btn-light text-warning mr-1 border border-dark" %></li>
          <% else %>
            <li class="list"><%= link_to 'Top', root_path, class: "btn btn-light text-warning mr-1 border border-dark" %></li>
            <li class="list"><%= link_to 'About', home_about_path, class: "btn btn-light text-warning mr-1 border border-dark" %></li>
            <li class="list"><%= link_to 'Sing_in', new_employee_session_path, class: "btn btn-light text-warning mr-1 border border-dark" %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
</header>